$btn-height: 56px;

/** @placeholder button */
%button {
    @include bgc(transparent);

    cursor: pointer;
}

%card {
  @include block()
  @include w()
  @include br($card-br)
  @include bgc($white)
  @include hidden()
}

%card-img {
    @include sh(0)
    @include gr(0)
    @include hidden()

    img {
        @include w(100%)
        @include h(auto)
        @include trans($trans-scale)
    }
    &:hover {
        img {
            transform: $scale
        }
    }
}

%card-content {
    @include sh(0)
    @include gr(1)
    @include px($card-px)
    @include py($card-py)
}



[class^='button'] {
    @extend %button;
    @include bd;
}

.card {
    &__list {
        @extend .row
    }

    &__item {
        #network &,
        #community &,
        {
            @extend .col-sm-12, .col-md-6, .col-lg-4
        }
        #portfolio & {
            @extend .col-sm-12, .col-md-6, .col-lg-3
        }
    }
}

.card {
    > a {
        @extend %card
    }

    &__img {
        @extend %card-img
    }

    &__content {
        @extend %card-content
    }
    &__title {
        @extend %text-base, %text-title
    }
}



.button {
    &--icon {
        @include center;
        @include w($btn-height);
        @include h($btn-height);
        @include bgs(contain);
        @include bgp;
        @include bgr;

        &.--close {
            @include bgi("~image/icon-close.svg");
        }

        &.--menu {
            @include bgi("~image/icon-menu-mint.svg");

            .pykl--stick & {
                @include bgi("~image/icon-menu-dark.svg");
            }
        }
    }

    &--large {
        @extend %ui-base;

        @include flex;
        @include jc;
        @include ai;
        @include max-w(270px);
        @include h($btn-height);
        @include px($medium);
        @include br(2px);
        @include sh(0);
        @include trans(background-color 270ms);

        box-sizing: border-box;

        &.--dark {
            @extend %ui-mint;

            @include bgc(transparent);
            @include hover {
                @extend %ui-dark;

                @include bgc(transparent);
                @include bd(1px solid $dark);
            }
        }

        &.--ghost {
            @include bgc(transparent);
            @include bd(1px solid $dark);
            @include hover {
                @extend %ui-mint;

                @include bgc($dark);
            }
        }

        &.--green {
            @include c($dark);
            @include bgc($mint-2);
            @include hover {
                @include c($mint-2);
                @include bgc($dark);
            }
        }
    }
}
