$mb-width: 80%;
$mb-max-width: 400px;
$mb-i18n: 56px;
$mb-height: 56px;
$dk-height: 94px;

@import "button";
@import "card";
@import "hero";
@import "section";
@import "main";
@import "header";
@import "nav";
@import "footer";
@import "home";
@import "intro";
@import "channel";
@import "portfolio";
@import "process";
@import "contact";
